* {
    border: 1px solid black;
    box-sizing: border-box;
}

body {
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0; 
    padding: 0
}

.calc-body {
    height: 700px;
    width: 500px;
    border: 1px solid black;
    border-radius: 20px;
}

.display {
    height: 30%;
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px;
}

.buttons {
    height: 70%; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px
}