@font-face {
    font-family: 'CalculatorFont';
    src: url('fonts/Digital7-rg1mL.ttf')
}

:root {
    --button-shadow: #2f3e46;
    --button-clr: #84a98c;
    --calc-clr: #52796f;
    --screen-clr: #d8f3dc;
}

* {
    box-sizing: border-box;
}

html {
    border: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: none;
    font-family: sans-serif;
}

.calc-body {
    height: 725px;
    width: 500px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: var(--calc-clr);
}

.display {
    height: 210px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    background-color: var(--calc-clr);
}

.buttons {
    height: 490px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    padding: 1.5em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1em;
    background-color: var(--calc-clr);
}

.screen {
    height: 100%;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: var(--screen-clr);
    font-family: 'CalculatorFont', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 1em; 
    border: 1px solid black;
}

.screen * {
    flex-basis: 100%;
    display: flex; 
    justify-content: end;
    align-items: end;
}

.button {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: relative;
    border: 2px solid var(--button-shadow);
    box-shadow: 0 10px var(--button-shadow);
    background-color: var(--button-clr);

}

.button:active {
    transform: translateY(10%);
    z-index: 1;
    box-shadow: none;
    background-color: var(--button-clr);
}

.button.pressed {
    transform: translateY(10%);
    z-index: 1;
    box-shadow: none;
    background-color: var(--button-clr);
}

.button.clear {
    grid-column: span 3;
}


.backspace {
    height: auto;
    width: 45%;
    border: none
}

.bigDisplayText {
    font-size: 5rem;
    white-space: nowrap;
}

.smallDisplayText {
    font-size: 2rem; 
    opacity: .75; 
    white-space: nowrap;
}

.hidden {
    visibility: hidden;
}